@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-moz-selection {
  color: #fff;
  background: #ff4c0d;
}

::selection {
  color: #fff;
  background: #ff4c0d;
}

html {
  --scrollbarBG: 373637;
  --thumbBG: #ff4c0d;
}
body::-webkit-scrollbar {
  width: 0.6em;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  scrollbar-color: var(--thumbBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

body {
  background-color: #373637;
  color: #ff4c0d;
  font-family: 'Roboto', sans-serif;
}

hr {
  background-color: #ca04ec;
}

.importantNotes {
  color: #ca04ec;
}

.importantNotes .btn:hover {
  background: #ca04ec;
  color: #fff;
  border: 1px solid #ca04ec;
  outline: none;
}

.card {
  background: transparent !important;
  box-shadow: 5px 5px 8px #1e1d1e, -5px -5px 8px #484748;
  width: 15rem;
}

.btn {
  background: transparent;
  color: inherit;
  border: 1px solid;
  outline: none;
  margin-top: 1rem;
}

.btn:hover {
  background: #ff4c0d;
  counter-reset: #fff;
  border: 1px solid #ff4c0d;
  outline: none;
}
